// Import Google fonts
@import url('https://fonts.googleapis.com/css?family=Poiret+One');
@import url('https://fonts.googleapis.com/css?family=Karla');
@import url('https://fonts.googleapis.com/css?family=Khand');
// Define fonts for body and headers
$body-font: "Karla", "Helvetica", "sans-serif";
$headers-font: "Khand", "Helvetica", "sans-serif";
$card-font: "Karla", "Helvetica", "sans-serif";
$card-description-font: "Khand", "Helvetica", "sans-serif";
// To use a font file (.woff) uncomment following lines
// @font-face {
//   font-family: "Font Name";
//   src: font-url('FontFile.eot');
//   src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
//        font-url('FontFile.woff') format('woff'),
//        font-url('FontFile.ttf') format('truetype')
// }
// $my-font: "Font Name";
