.cardpanda {
    display: inline-block;
    position: relative;

    height: 260px;
    opacity: 0.85;
}
.frontpanda,
.backpanda {
    width: 100%;
    height: 100%;
    position: absolute;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    -webkit-transition: -webkit-transform 300ms;
    transition: -webkit-transform 300ms;
    transition: transform 300ms;
    transition: transform 300ms, -webkit-transform 300ms;
    -webkit-transition-timing-function: linear;
            transition-timing-function: linear;
    border-radius: 5px;
    background: linear-gradient(to bottom right, #333, rgba(0, 0, 0, 0.5));
}
.frontpanda {
    transform: rotateY(0deg);
    //background: -webkit-linear-gradient(top left, #84DD63, #009970);
    //background: linear-gradient(to bottom right, #333, #009970);
    text-align: center;
    padding: 30px;
}
.backpanda {
    //background: -webkit-linear-gradient(top left, #009970, #84DD63);
    //background: linear-gradient(to bottom right, #009970, #84DD63);
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
    padding: 15px;
    color: #fff;
}
.cardpanda:hover .frontpanda {
    -webkit-transform: rotateY(-180deg);
            transform: rotateY(-180deg);
}
.cardpanda:hover .backpanda {
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
}
//styling
.frontpanda .contactpanda {
    height: 120px;
    width: 120px;
    border: 5px solid #11b545;
    border-radius: 50%;
    display: inline-block;
    margin-bottom: 10px;
}
.frontpanda .namepanda {
    display: inline-block;
    font-size: 18px;
    color: #fff;
}
.frontpanda .jobpanda {
    color: #fff;
}
.frontpanda hr {
    border: none;
    color: #B2DBBF;
    border: 1px solid;
}
.novopididu {
    color: #11b545;
}
.novopididu:hover {
    color: white;
    text-decoration: none;
}

.fechaconta {
    color: purple;

}
.fechaconta:hover {
    color: white;
    text-decoration: none;
}

.orderspanda {
  font-size: 16px;
  overflow: auto;
  max-height: 55%;
}

#position {
  position: relative;
}
