
<%= content_for :title, "Friiila" %>
<
<div class="banner" style="background: linear-gradient(-225deg, rgba(148,73,73,0.5) 0%, rgba(0,0,0,0) 100%), url(<%= asset_path 'estampa.jpg'%>);">
      <div class="banner-content">
        <h1>Livre para ir e vir</h1>
      </div>
    </div>

<h2 class="text-center">Criente View</h2>
<img class="banner2" src=<%= asset_path 'telaiphone.jpg'%>>

<h2 class="text-center">Dono da Budega View</h2>
<img class="banner3" src=<%= asset_path 'viewdonodabudega.jpg'%>>

<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fa fa-instagram"></i></a>
    <a href="#"><i class="fa fa-facebook"></i></a>
  </div>
  <div class="footer-copyright">
    This page is made with <i class="fa fa-heart"></i> by Extremalistas
  </div>
</div>
<p></p>


