<%= content_for :title, "Friiila - A vida sem fila" %>
<h1>Pages#stablish</h1>
<p>Find me in app/views/pages/stablish.html.erb</p>

<h2 class="text-center">Visão do dono da budega</h2>
<img class="banner3" src=<%= asset_path 'viewdonodabudega.jpg'%>>

<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fa fa-instagram"></i></a>
    <a href="#"><i class="fa fa-facebook"></i></a>
  </div>
  <div class="footer-copyright">
    This page is made with <i class="fa fa-heart"></i> by Extremalistas
  </div>
</div>
