.item {
  width: auto;
  height: 230px;
  max-height: 230px;
}

@media screen and (min-width: 820px) /* width >= 820 px */
{
  .item {
    width: auto;
    height: 650px;
    max-height: 650px;
  }
}

// .carousel-caption {
//   tex
// }
