.buttonverde {
  width: 20%;
  font-family: $card-font;
  position: initial;
  left: 10% ; right: 0; bottom: 0;
  background-color: #11b545;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 25px;
  border-radius: 4px;
  margin: 10px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19)
}

.buttonverde:hover {
 background-color: #11b545;
 text-decoration: none;
 color: black;
}

.buttonverde-quero {
  font-family: $card-font;
  position: initial;
  left: 10% ; right: 0; bottom: 0;
  background-color: #11b545;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 25px;
  border-radius: 4px;
  margin: 10px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19)
}

.buttonverde-quero:hover {
 background-color: #11b545;
 text-decoration: none;
 color: black;
}


.buttonpagar {
  width: 80%;
  font-family: $card-font;
  position: absolute;
  left: 10% ; right: 0; bottom: 0;
  background-color: #11b545;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 25px;
  border-radius: 4px;
  margin: 10px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19)

}

.buttonpagar:hover {
  background-color: #11b545;
  text-decoration: none;
  color: black;
}

#formbutton {
  width: 80%;
}


