<h1>Meu Império</h1>

<p><%= link_to "Nova budega", new_place_path %></p>
<% @my_places.each do |place| %>
  <%= link_to(place) do %>
    <h3><%= place.place_name %><%= link_to "Suma com essa budega", place_path(place), method: :delete, data: { confirm: "Que isso, tem certeza?" } %></h3>
  <% end %>
<% end %>
