<div class="container">
   <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
      <h1>Bora criar ça budega?!</h1>
    </div>
   </div>
     <%= render "place_form" %>


  <p><%= link_to "Voltar", my_places_places_path %></p>
</div>
